<div class="col-md-6">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Country
          <div class="dropdown" style="float: right">
            <button class="dropdown-toggle filterdropdown" ng-class="{active:XLfilters.dict['Country'].isActive}" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></button>
            <div class="dropdown-menu prop" aria-labelledby="btnSearchBatch" style="width: 250px; padding: 15px;">
              <div class="text-right">
                <a href="#" class="filterlink" (click)="clearAll('Country')">Clear All</a> | <a href="#" class="filterlink" data-dismiss="modal">Close(X)</a>
              </div>
              <form>
                <input type="text" class="form-control input-sm" name="country1"  [(ngModel)]="XLfilters.dict['Country'].searchText" placeholder="Filter by Country" />
                <div>
                  <a href="#" class="filterlink" (click)="markAll('Country',true)">Select All</a> | <a href="#" class="filterlink" (click)="markAll('Country',false)">Select None</a>
                </div>
                <div class="options">
                  <ul style="list-style-type: none; padding: 0">
                    <li *ngFor="let item of XLfilters.dict['Country'].options; let $index = index">
                      <input id="countryOption{{$index}}" type="checkbox" name="country2" (change)="changeFunction($event)" [(ngModel)]="XLfilters.dict['Country'].dict[item.title].checked" />&nbsp;<label for="countryOption{{$index}}">{{item.title}}</label>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </th>
        <th>City
          <div class="dropdown" style="float: right">
            <button class="dropdown-toggle filterdropdown" ng-class="{active:XLfilters.dict['City'].isActive}" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></button>
            <div class="dropdown-menu prop" aria-labelledby="btnSearchBatch" style="width: 250px; padding: 15px;">
              <div class="text-right">
                <a href="#" class="filterlink" (click)="clearAll('City')">Clear All</a> | <a href="#" class="filterlink" data-dismiss="modal">Close(X)</a>
              </div>
              <form>
                <input type="text" class="form-control input-sm" name="city1"  [(ngModel)]="XLfilters.dict['City'].searchText" placeholder="Filter by City" />
                <div>
                  <a href="#" class="filterlink" (click)="markAll('City',true)">Select All</a> | <a href="#" class="filterlink" (click)="markAll('City',false)">Select None</a>
                </div>
                <div class="options">
                  <ul style="list-style-type: none; padding: 0">
                    <li *ngFor="let item of XLfilters.dict['City'].options; let $index = index">
                      <input id="cityOption{{$index}}" type="checkbox" name="city2" (change)="changeFunction($event)" [(ngModel)]="XLfilters.dict['City'].dict[item.title].checked" />&nbsp;<label for="cityOption{{$index}}">{{item.title}}</label>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of XLfilters.results">
        <td>{{emp.Country}}</td>
        <td>{{emp.City}}</td>
        <td>{{emp.Name}}</td>
      </tr>
    </tbody>
  </table>
</div>